
h1 {
    font-family: 'Poppins', 'Roboto',sans-serif;
    font-size: 35px;
    color:#865B9A;
    font-weight: 500;
    text-decoration: underline;
    text-align: center;
}

h2 {
    font-family: 'Poppins';
    font-size: 25px;
    font-weight: 300;
    color:#865B9A;
    text-transform: uppercase;
    text-align: center;
}
main{
    color:#535865;
    font-family: 'Poppins', 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 15px;
}



body {
    background-color: #DFD9E2;
}


.purpley {
    font-family: 'Poppins', "Times New Roman", sans-serif;
    color: #535865;
    font-style: normal;

}
p {
    background-color: blue;
}

.last-paragraph {
    background-color: green;
}
h3 {
    color: rebeccapurple;
}

ul {
    list-style: square;
}

button {
    color: white;
    background-color: rebeccapurple;
    font-size: 24px;
}

